header {
    height: 10vh;
    width:100%;
    background-color: #1F618D;
}
nav ul{
    color: black;
    display: flex;
    justify-content:right;
    display: inline-block;
    margin-right: 10vh;
    padding-right: 1%;
}